body{
    background-color: bisque;
}
#btn2{
    margin-top: 20px;
    border-radius: 10px;
    background:lightcyan;
    font-size: large;
    font-family: cursive;
}
#btn2:hover{
    margin-top: 20px;
    border-radius: 10px;
    background:lightgreen;
    font-size: large;
    font-family: cursive;
}

#main{
    align-items:center;
    margin: auto;
    margin-left: 30px;
  border: 3px solid green;
    background-color: azure;
  padding: 10px;
  display: inline-grid;
  grid-template-columns: auto auto auto auto auto;
 
}
#main:hover{
    align-items:center;
    margin: auto;
    margin-left: 30px;
  border: 3px solid blue;
    background-color: aliceblue;
  padding: 10px;
  display: inline-grid;
  grid-template-columns: auto auto auto auto auto;
 
}
#div1{
    width: 250px;
    height: 250px;
}
#div2{
    width: 250px;
    height: 250px;
    
}
#div3{
    width: 250px;
    height:250px;
    
}
#div4{
    width: 250px;
    height: 250px;
  
    
}
#div5{
    width: 250px;
    height: 250px;
    
}
h2{
    font-family: cursive;
    margin-left: 10px;
}
h1{
    font-style: italic;
    font-family: cursive;
    text-align: center;
}
